{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Crimson+Text&display=swap" rel="stylesheet">
    <title>doctor profile</title>
</head>
<body>

 {% include 'base/nav.html' %}  
 
 <h1>Update / Add doctor Profile Details</h1>
 <form action="" method="post" enctype="multipart/form-data">
     {% csrf_token %}
     
     {{ form.non_field_errors }}
 
     <div>
         <label for="id_uname">Username:</label>
         {{ form.uname.errors }}
         {{ form.uname }}
     </div>
 
     <div>
         <label for="id_umobile">Mobile:</label>
         {{ form.umobile.errors }}
         {{ form.umobile }}
     </div>
 
     <div>
         <label for="id_uemail">Email:</label>
         {{ form.uemail.errors }}
         {{ form.uemail }}
     </div>
 
     <div>
         <label for="id_uaddress">Address:</label>
         {{ form.uaddress.errors }}
         {{ form.uaddress }}
     </div>
 
     <div>
         <label for="id_gender">Gender:</label>
         {{ form.gender.errors }}
         {{ form.gender }}
     </div>
 
     <div>
         <label for="id_age">Age:</label>
         {{ form.age.errors }}
         {{ form.age }}
     </div>
 
     <div>
         <label for="id_date_of_birth">Date of Birth:</label>
         {{ form.date_of_birth.errors }}
         {{ form.date_of_birth }}
     </div>
 
     <div>
         <label for="id_uaadhar">Aadhar:</label>
         {{ form.uaadhar.errors }}
         {{ form.uaadhar }}
     </div>
 
     <div>
         <label for="id_image">Profile Image:</label>
         {{ form.image.errors }}
         {{ form.image }}
     </div>
 
     <div>
         <label for="id_area_profile">Area Profile:</label>
         {{ form.area_profile.errors }}
         {{ form.area_profile }}
     </div>

     <div>
        <label for="id_area_profile">opd type:</label>
        {{ form.opd_type.errors }}
        {{ form.opd_type }}
    </div>
 
    <div>
        <label for="id_area_profile">district:</label>
        {{ form.district.errors }}
        {{ form.district }}
    </div>
 
     <button type="submit">Submit</button>
 </form>
 
   

 {% include 'base/footer.html' %}

</body>
</html>