{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Crimson+Text&display=swap" rel="stylesheet">
    <title>user profile</title>
</head>
<body>

 {% include 'base/nav.html' %}    

    <div class="">
     {% if user_profile %}
        <div>
            <h1>{{ user_profile.uname }}</h1>
            {% if user_profile.image %}
                <img src="{{ user_profile.image.url }}" alt="Profile Image" style="width:150px;height:150px;">
            {% else %}
                <img src="{% static 'img/default.png' %}" alt="Default Profile Image" style="width:150px;height:150px;">
            {% endif %}
            <p><strong>Email:</strong> {{ user_profile.uemail }}</p>
            <p><strong>Mobile:</strong> {{ user_profile.umobile }}</p>
            <p><strong>Address:</strong> {{ user_profile.uaddress }}</p>
            <p><strong>Gender:</strong> {{ user_profile.get_gender_display }}</p>
            <p><strong>Age:</strong> {{ user_profile.age }}</p>
            <p><strong>Date of Birth:</strong> {{ user_profile.date_of_birth }}</p>

            <p><strong>Aadhar number / Vid number :</strong> {{ user_profile.uaadhar }}</p>
            <p><strong>Regional / area :</strong> {{ user_profile.area_profile }}</p>
            <p><strong>District :</strong> {{ user_profile.district }}</p>
        </div>

        <a href="{% url 'uuprofile' user_profile.uname %}">update details</a>
    {% else %}
        <p>No profile information available.</p>
    {% endif %}
    </div>
    <br>
    <hr>
    <div>
        <h1>reports</h1>
        {% if user_profile.report %}

        {% else %}

        <span>no reports found</span>

        {% endif %}

    </div>
    <br>

 {% include 'base/footer.html' %}

</body>
</html>