*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
 
body{
  overflow-x: hidden;
  
}

/* It only includes CSS of Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0 4rem;
}

.head-text {
    text-align: left;
}

.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: -1px;
    font-size: 3rem;
    font-weight: 700 ;
    background: linear-gradient(90deg, #1597E0 0%, #272727 46%, #377ED2 99.98%, #8A7A7A 99.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     background-clip: text;
     text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.slogan {
    font-size: 1.2rem;
    background: linear-gradient(90deg, #1597E0 0%, #272727 46%, #377ED2 99.98%, #8A7A7A 99.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.icons {
    display: flex;
    align-items: center;
}

.icons a {
    margin-left: 0.7rem;
    text-decoration: none;
    font-size: 1rem;
}


.skip-content {
    font-size: 1rem;
    margin-left: 1rem;
    border-left: 1px solid black ;
}

/* From here the css of navbar will start */

.navbar {
  background: linear-gradient(90deg, #1597E0 0%, #5AAEDE 32%, #A7C3D3 53%, #5EAFDE 74%, #1597E0 100%);
   font-size: larger;
   }

.navbar ul {
  font-family: "Crimson text",sans-serif;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #005A9C;
}

/* Dropdown styling */
.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 19rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;

}

.dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: medium;
}

.dropdown .dropdown-content a:hover {
    background-color: #1597E0;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* it includes the css of download appointment text */

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  /* Title Styling */
  .wlcm-txt {
    font-family: "Arizonia",sans-serif;
    font-size: 3em;
    white-space: nowrap;
    font-weight: 500;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  /* Line Styling */
  .line {
    border-top: 1px solid black;
    width: 12rem;
    position: relative;
  }
  
  .line::before, .line::after {
    content: '';
    width:  8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: -4px;
  }
  
  .line::before {
    left: -10px;
  }
  
  .line::after {
    right: -10px;
  }
  
/* It is the css of download appointment box */

  .appointment-box {
    background: linear-gradient(90deg, #1597E0 0%, #5AAEDE 32%, #A7C3D3 53%, #5EAFDE 74%, #1597E0 100%);
    padding: 1rem;
    border-radius: 15px;
    height: 20rem;
    width: 45rem;
    margin: 2rem auto;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6); 
    text-align: center; /* Center alignment for the content */
    color: white;
}


.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:1rem ;
    margin-bottom: 1rem;
}

.input-row label {
    padding-top: 2rem;
    font-size: 1.5em;
    margin-right: 1rem;
    margin-left: 5rem;
    color: #000;
}

.input-row input {
  margin-top: 2rem;
   height: 2.5rem;
    flex: 1;
    padding: 1rem;
    border-radius: 30px;
    border: 1.5px solid black;
    font-size: 0.9em;
    margin-right: 8rem;
}

button {
    height: 2.5rem;
    width: 10rem;
    font-size: 1.5em;
    border-radius: 50px;
    background-color: #1597E0;
    color: white;
    border: 1.5px solid black;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 3rem; 
}

button:hover {
    background-color: #005A9C;
}

.book-appointment {
  display: block;
    font-size: 1.2em;
    color: black;
    text-decoration: underline;
    padding-right: 30rem;
}

.book-appointment:hover {
    color: #003399
}


/* It includes the css of footer */

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px; background: linear-gradient(90deg, #1597E0 0%, #5AAEDE 32%, #A7C3D3 53%, #5EAFDE 74%, #1597E0 100%);
    border-top: 1px solid black;
  }
  
  .left-section ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .left-section li {
    margin-bottom: 10px;
    font-size: 1.3rem;
    color: #000;
  }
  
  .center-section p {
    
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #000;
  }
  .center-section span{
    font-weight: bold;
    color: #3d3d7a;
  }
  
  .right-section p {
    font-size: 1.3rem;
    color: #5a5151;
    margin-bottom: 10px;
    margin-left: 0.5rem;
  }
  
  .footer-social-icons i {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }